Cannot download differentially

I do get the following error message when trying to update my electron application:

```
Cannot download differentially, fallback to full download: Error: Content-Type "multipart/byteranges" is expected, but got "application/octet-stream" 
```

After some investigation I found out that Apache HTTPD was the cause and for some reason it doesn't like the way the Range header is created in the [`multipleRangeDownloader.js`](https://github.com/electron-userland/electron-builder/blame/c51f96272517c08a09504445fb31e61326e0c381/packages/electron-updater/src/differentialDownloader/multipleRangeDownloader.ts#L49). So the Range Header looks like this:

`Range: bytes=1-2, 3-4`

and Apache HTTPD doesn't like the whitespace after the comma for some reason, so for compatibility reason we should remove the whitespace after the comma, so it looks like this:

`Range: bytes=1-2,3-4`

Nginx doesn't care about whitespace, it works in both cases.

I couldn't find anything specific to whitespace in the RFC, but examples didn't have whitespace for multiple ranges as well: https://datatracker.ietf.org/doc/html/rfc7233.

What version of electron-updater are you on? I thought @beyondkmp had put in a fix for handling differential ranges with and without spaces.

electron-builder 4.6.5, where is the fix located? As workaround I did set useMultipleRangeRequest to false.

@beyondkmp can you take a look at this when you have a chance please?

This issue has not been fixed yet; I fixed a different problem(https://github.com/electron-userland/electron-builder/pull/9064).

According to rfc7233, `range` has been defined as

> byte-range-set  = 1#( byte-range-spec / suffix-byte-range-spec )

The document clearly mentions the meaning of "#" here

> This specification uses the Augmented Backus-Naur Form (ABNF) notation of [RFC5234] with a list extension, defined in [Section 7 of [RFC7230]](https://datatracker.ietf.org/doc/html/rfc7230#section-7), that allows for compact definition of comma-separated lists using a '#' operator (similar to how the '*' operator indicates repetition).

then in rfc7230, it said

> A construct "#" is defined, similar to "*", for defining comma-delimited lists of elements.  The full form is "<n>#<m>element"
indicating at least <n> and at most <m> elements, each separated by a single comma (",") and optional whitespace (OWS).

Therefore, I believe this is a server bug that should be addressed in Apache HTTPD.

Updating `ran` in https://github.com/electron-userland/electron-builder-binaries/pull/102 to see if we can get it working with the current test server flow